{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Farm</title>
  <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href={% url 'home' %}>Home</a></li>
        <li><a href={% url 'person:index' %}>Persons</a></li>
        <li><a href={% url 'animal:index' %}>Animals</a></li>
      </ul>
    </div>
  </div>
</nav>


{% block content %}
{% endblock %}

</body>
</html>
